:root {
  @each $name, $hex in $colors {
    $var: map-get($colors, $name);
    --#{"" + $name}: #{$var};
  }

  @each $name, $hex in $mod-amount-search {
    $var: map-get($mod-amount-search, $name);
    --#{"" + $name}: #{$var};
  }
}

// TODO: cycle theme config for dark, per below
[theme="dark"] {
  --highlight-primary: rgb(25, 25, 25);
  --highlight-secondary: rgb(39, 40, 34);
  --highlight-tertiary: rgb(61, 62, 56);
  --highlight-quaternary: #111;
  --highlight-quinary: #222;
  --lowlight-primary: #bb86fc;
  --lowlight-secondary: #4e1b96;
  --lowlight-tertiary: #018786;
  --lowlight-quaternary: rgb(59, 221, 174);
  --accent-primary: #bb86fc;
  --accent-secondary: #3700b3;
  --accent-tertiary: rgb(59, 221, 174);
  --accent-quaternary: #4e1b96;
  --state-success: darkgreen;
  --state-caution: olive;
  --state-error: darkred;
}
